﻿<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th width="20%">Code</th>
                    <th>Nom</th>
                    <th>Montant remboursé</th>
                    <th width="30%">Prix</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="medoc in medicaments.medocs" ng-init="ancienPrix = medoc.Prix" ng-class="{ 'warning': ancienPrix != medoc.Prix }">
                    <td>{{ medoc.Id }}</td>
                    <td>{{ medoc.Nom }}</td>
                    <td>Remboursé à {{ medoc.TauxRemboursement * 100 }}% soit <b>{{ medoc.Prix * medoc.TauxRemboursement | number:'2' }}€</b></td>
                    <td>
                        <div class="input-group number-spinner">
                            <span class="input-group-btn data-dwn">
                                <button class="btn btn-default btn-info" ng-click="medicaments.updatePrix(medoc, -1)"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control text-center" ng-model="medoc.Prix" min="0">
                            <span class="input-group-btn data-up">
                                <button class="btn btn-default btn-info" ng-click="medicaments.updatePrix(medoc, +1)"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-success" ng-show="ancienPrix != medoc.Prix" ng-click="medicaments.update(medoc); ancienPrix = medoc.Prix;"><span class="glyphicon glyphicon-ok"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
</div>