﻿html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    background: url("../images/background-galaxy.jpg") no-repeat center center fixed;
    background-size: cover;
}

.super-container {
    height: 100%;
    min-height: 100%;
}

.super-container > ng-view {
    min-height: 100%;
    height: 100%;
}

.container {
    background: white;
    margin-top: 50px;
    padding-top: 10px;
    min-height: 100%;
}

.formLogin {
    margin-top: 10%;
}

.checkboxLogin {
    margin-top: 0;   
}

a {
    cursor: pointer;
}

.cliquable {
    cursor: pointer;
}

table.table tr td {
    vertical-align: middle;
}

.mb_10 {
    margin-bottom: 10px;
}
.mt_10 {
    margin-top: 10px;
}
.pt_10 {
    padding-top: 10px;
}
.pl_10 {
    padding-left: 10px;
}
.red {
    color: red;
}


@media ( max-width: 585px ) {
    .input-group span.input-group-btn,.input-group input,.input-group button{
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .input-group {
        position: relative;   
    }
    .input-group span.data-up{
        position: absolute;
        top: 0;
    }
    .input-group span.data-dwn{
        position: absolute;
        bottom: 0;
    }
    .form-control.text-center {
        margin: 34px 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
        margin-left:0;
    }

}


@media screen and (max-width: 768px) {
    span.visible-xs {
        display: inline-block !important;
    }
}

@media screen and (min-width: 768px) {
    span.visible-xs {
        display: none !important;
    }
}

.fakeTableRow {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
.fakeTableRow:hover {
    background: #f5f5f5;
}

.fakeTableHead {
    border-bottom: 2px solid #ddd;
    font-weight: bold;
    padding: 8px;
}

span.glyphicon.cliquable {
    font-size: 12px;
}
span.glyphicon.cliquable:hover, span.glyphicon.active {
    color: lightblue;
}